<template>
    <div>
        <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900">REGISTER A NEW PLACE</h1>
                </div>
                <div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs font-semibold px-1">Place code (String)</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                <input v-model="placeCode" type="text" class="w-full -ml-10 pl-3 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="C002">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Floor (number)</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                <input v-model="floor" type="number" class="w-full -ml-10 pl-3 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="1">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <button class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold" @click.prevent="register">REGISTER PLACE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="this.response" class="text-center text-indigo-800">Done</div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            placeCode: "",
            floor: null,
            error: null,
            response: null,
        }
    },
    methods: {
        register() {
            axios
            .post('https://rendudevops.herokuapp.com/places/register', {
                placeCode: this.placeCode, 
                floor: this.floor
            }, {
                headers: {
                    'Authorization': 'Bearer '+this.$store.state.user.token
                }
            })
            .catch(error => {
                this.error = error
            })
            .then(response => (this.response = response))
        }
    }
}
</script>