<template>
    <div>
        <table class="border-collapse border border-indigo-800">
            <thead>
                    <tr>
                    <th class="border border-indigo-500">INDEX</th>
                    <th class="border border-indigo-500">ID</th>
                    <th class="border border-indigo-500">USER_ID</th>
                    <th class="border border-indigo-500">PLACE_CODE</th>
                    <th class="border border-indigo-500">FLOOR</th>
                    <th class="border border-indigo-500">IS_AVAILABLE</th>
                    <th class="border border-indigo-500">ASSIGNED_AT</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(object, index) in places" :key="index">
                    <td class="border border-indigo-500">{{index}}</td>
                    <td class="border border-indigo-500">{{object.id}}</td>
                    <td class="border border-indigo-500">{{object.user_id}}</td>
                    <td class="border border-indigo-500">{{object.place_code}}</td>
                    <td class="border border-indigo-500">{{object.floor}}</td>
                    <td class="border border-indigo-500">{{object.is_available}}</td>
                    <td class="border border-indigo-500">{{object.assigned_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            places: [],
        }
    },
    mounted(){
        axios
        .get('https://rendudevops.herokuapp.com/places/show?floor=0', {
        headers: {
            'Authorization': 'Bearer '+ this.$store.state.user.token
        }
        })
        .then(response => {response.data.forEach(element => this.places.push(element));})
        axios
        .get('https://rendudevops.herokuapp.com/places/show?floor=1', {
        headers: {
            'Authorization': 'Bearer '+ this.$store.state.user.token
        }
        })
        .then(response => {response.data.forEach(element => this.places.push(element));})
        axios
        .get('https://rendudevops.herokuapp.com/places/show?floor=2', {
        headers: {
            'Authorization': 'Bearer '+ this.$store.state.user.token
        }
        })
        .then(response => {response.data.forEach(element => this.places.push(element));})
    }
}
</script>