<template>
    <div>
        There is {{stats}} places occuped.
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            stats: null,
            error: null,
        }
    },
    mounted(){
        axios
        .get('https://rendudevops.herokuapp.com/places/statistics', {
            headers: {
                'Authorization': 'Bearer '+this.$store.state.user.token
            }
        })
        .catch(error => {
            console.log(error)
            this.error = error
        })
        .then(response => (this.stats = response.data.occupationRate))
    }
}
</script>