<template>
  <div class="relative min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
    <div class="flex justify-center items-center h-screen">
      <div>
        <ul class="flex justify-center items-center my-4">
            <li v-for="(tab, index) in tabs" :key="index" class="cursor-pointer py-2 px-4 text-gray-200 border-b-8"
              :class="activeTab===index ? 'text-indigo-300 border-indigo-500' : ''" @click="activeTab = index"
              v-text="tab"></li>
        </ul>

        <div class="mt-2 items-center z-10">
          <div v-show="activeTab===0"><UsersLogin /></div>
          <div v-show="activeTab===1"><UsersRegister /></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      activeTab: 0,
      tabs: [
        "Login",
        "Register"
      ]
    }
  },
  created(){
    this.$store.commit('user/reset')
  }
}
</script>
