<template>
    <div class="relative min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center">
    <div class="flex justify-center items-center h-screen">
        <div>
        <ul class="flex justify-center items-center my-4">
            <li v-for="(tab, index) in tabs" :key="index" class="cursor-pointer py-2 px-4 text-gray-200 border-b-8"
                :class="activeTab===index ? 'text-indigo-300 border-indigo-500' : ''" @click="activeTab = index"
                v-text="tab"></li>
                <li key="-1" class="cursor-pointer py-2 px-4 border-b-8" @click.prevent="goBackToHome">Home</li>
        </ul>

        <div class="mt-2 items-center z-10">
            <div v-show="activeTab===0"><div v-if="!this.$store.state.user.email">You're not connected, go back to homepage</div><PlaceShow v-else /></div>
            <div v-show="activeTab===1">
                <PlaceStatistics v-if="admin" />
                <div v-else>You have to be admin to get this page</div>
            </div>
            <div v-show="activeTab===2">
                <PlaceRegister v-if="admin" />
                <div v-else>You have to be admin to get this page</div>
            </div>
            <div v-show="activeTab===3">
                <PlacePlaceid v-if="admin" />
                <div v-else>You have to be admin to get this page</div>
            </div>
            <div v-show="activeTab===4">
                <PlacePlaceidrelease v-if="admin" />
                <div v-else>You have to be admin to get this page</div>
            </div>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            activeTab: 0,
            tabs: [
                "All places",
                "Statistics",
                "Create a place",
                "Attribute a place to a user",
                "Remove a place to a user"
            ],
            admin: true,
        }
    },
    mounted(){
        axios
            .get('https://rendudevops.herokuapp.com/places/statistics', {
                headers: {
                    'Authorization': 'Bearer '+this.$store.state.user.token
                }
            })
            .catch(e => (this.admin = false))
    },
    methods:{
        goBackToHome() {
            this.$router.push("/")
        }
    }
}
</script>